body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
    color: #fff;
}

button {
    background-color: #2b2b2b;
}

input, textarea {
    color: #2b2b2b;
}

.lg-sel option {
    color: #2b2b2b;
}

.custom-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.custom-select:hover {
  border-color: #888;
}

.custom-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* .lg-link {
  color: #670877;
} */